body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Libre Baskerville", serif;
    background-color: aliceblue;
    /*display: flex;*/
    /*justify-content: space-between;*/

}

img {
    width: 20%;
    height: 50%;
}
